= simple_form_for @application, :html => { :class => "form" } do |f|
  %p
    = f.input :name, :input_html => { :class => 'text_field' }, :label_html => { :class => "label" }

  %p
    = f.input :time_zone, :input_html => { :class => 'select_field' }, :label_html => { :class => "label" }

  .group.navform.wat-cf 
    = f.button :submit
