.hidden {
  display: none;
}

#filters {
  background-color: #CDC7C5;
  padding: 5px;
  margin-left: 7px;
  width: 778px;
}

#filters span {
  font-size: 1.3em;
  display: block;
}

#filters label {
  padding-left: 5px;
}

table#entries {
  margin-top: 10px;
  padding: 5px;
  width: 800px;
}

table#entries th {
  padding: 5px;
}

table#entries tbody {
  vertical-align: top;
}

table#entries td {
 padding: 5px;
}

table#entries td.severity, td.facility {
  width: 150px;
  text-align: center;
}

table#entries td.payload_body {
  width: 100% ;
}

tr.odd {
  background: #D8DEF1;
}