
#block-text.block
  .content
    %h2.title Get yourself a cool application log in just 3 steps:
    .inner
      .steps
        %ol
          %li
            = link_to 'Sign Up', new_user_registration_path
          %li
            Configure your application
          %li
            Start logging!

      %p
        %a
          = link_to 'Find out how it works', 'http://github.com/logbook/logbook_gem/wiki/Basic-Usage'

